<footer class="footer">
  <div class="container">
    <div id="footer-text-container">
      <p align="right" id="footer-text"><i>&copy 2020 by <a href="http://jdr.bio" target="_blank">Joseph D. Romano</href></i></p>
    </div>
  </div>
</footer>