<header>
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse container" id="header-sizing">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="{{ "./index.html" | url }}" class="nav-link pl-0 pr-3" {% if page.url == "/" %}aria-current="page"{% endif %}>Home</a></li>
        <li class="nav-item"><a href="{{ "./cv.html" | url }}" class="nav-link" {% if page.url == "/cv.html" %}aria-current="page"{% endif %}>CV</a></li>
      </ul>
    </div>
  </nav>
</header>